<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>PROSPUR</title>
</head>

<body style="line-height: 18px;">
	<table width="850px" border="0" cellspacing="0" cellpadding="0" align="center" style="border: 1px solid #e6e6e6">


		<tr>
			<td style="padding: 5px;">
				<table width="98%" border="0" cellspacing="0" cellpadding="0" align="center">

					<tr style="height: 30px;">
						<td style="font-family: Arial; color: #666; font-size: 12px;">
							Dear <b>__NAME__</b>,
						</td>
					</tr>

					<tr>
						<td>&nbsp;</td>
					</tr>

					<tr style="height: 30px;">
						<td style="font-family: Arial; color: #666; font-size: 12px;">
							Thanks for contacting us.
						</td>
					</tr>

					<tr>
						<td>&nbsp;</td>
					</tr>

					<tr>
						<td style="font-family: Arial; color: #666; font-size: 12px;">
							<b>Your submitted information:</b>
						</td>
					</tr>

					<tr>
						<td>&nbsp;</td>
					</tr>

					<tr>
						<td style="font-family: Arial; color: #666; font-size: 12px;">
							<ul style="padding-left: 20px;">
								<li><b>Name:</b> __NAME__</li>
								<li><b>Email:</b> __EMAIL__</li>
								<li><b>Mobile:</b> __MOBILE__</li>
								<li><b>Type:</b> __TYPE__</li>
								<li><b>Message:</b> __MESSAGE__</li>
							</ul>
						</td>
					</tr>

					<tr>
						<td>&nbsp;</td>
					</tr>

					<tr>
						<td style="font-family: Arial; color: #666; font-size: 12px;">
							We will get back to you as soon as possible.
						</td>
					</tr>

					<tr>
						<td>&nbsp;</td>
					</tr>

					<tr>
						<td style="font-family: Arial; color: #666; font-size: 12px;">
							Regards,
						</td>
					</tr>

					<tr>
						<td style="font-family: Arial; color: #666; font-size: 12px;">
							<b>PROSPUR Team</b>
						</td>
					</tr>

					<tr>
						<td>&nbsp;</td>
					</tr>

				</table>
			</td>
		</tr>




	</table>
</body>

</html>