<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>PROSPUR</title>
</head>

<body style="line-height: 18px;">
	<table width="850px" border="0" cellspacing="0" cellpadding="0" align="center" style="border: 1px solid #e6e6e6">
		<tr>
			<td style="padding: 5px;">
				<table width="98%" border="0" cellspacing="0" cellpadding="0" align="center">
					<tr style="height: 30px;">
						<td style="font-family: Arial; color: #666; font-size: 12px;"> Dear <b>__NAME__</b>, </td>
					</tr>
					<tr>
						<td> </td>
					</tr>
					<tr style="height: 30px;">
						<td style="font-family: Arial; color: #666; font-size: 12px;"> We received a request to log in
							to your PROSPUR account. </td>
					</tr>
					<tr>
						<td> </td>
					</tr>
					<tr>
						<td style="font-family: Arial; color: #666; font-size: 12px;"> Please use the following One-Time
							Password (OTP) to continue: </td>
					</tr>
					<tr>
						<td> </td>
					</tr>
					<tr>
						<td align="center"
							style="font-family: Arial; font-size: 20px; color: #000; font-weight: bold; letter-spacing: 3px;">
							__OTP__ </td>
					</tr>
					<tr>
						<td> </td>
					</tr>
					<tr>
						<td style="font-family: Arial; color: #666; font-size: 12px;"> This OTP is valid for
							<b>__EXPIRY__ minutes</b>. Please do not share it with anyone.
						</td>
					</tr>
					<tr>
						<td> </td>
					</tr>
					<tr>
						<td style="font-family: Arial; color: #666; font-size: 12px;"> If you did not request this
							login, please ignore this email. </td>
					</tr>
					<tr>
						<td> </td>
					</tr>
					<tr>
						<td style="font-family: Arial; color: #666; font-size: 12px;"> Regards, </td>
					</tr>
					<tr>
						<td style="font-family: Arial; color: #666; font-size: 12px;">
							<b>PROSPUR Team</b>
						</td>
					</tr>
					<tr>
						<td> </td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</body>

</html>